<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짤방 저장소</title>
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <!-- CSS 경로 수정 -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="./styles/mypage.css">
    <link rel="stylesheet" href="./styles/upload.css">
</head>
<body>
    <header>
        <!-- 이미지 경로 수정 -->
        <a href="/" class="logo"><img src="/images/logo.svg" alt="짤방저장소" class="logo-img"></a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/upload" class="nav-link nav-link_hover">짤 올리기</a></li>
                <li class="nav-item"><a href="/mypage" class="nav-link nav-link_hover">마이페이지</a></li>
                <% if (locals.user) { %>
                    <!-- 로그인한 경우 로그아웃 버튼 -->
                    <li class="nav-item"><a href="/logout" class="nav-link nav-link_hover">로그아웃</a></li>
                <% } else { %>
                    <!-- 로그인하지 않은 경우 로그인 버튼 -->
                    <li class="nav-item"><a href="/login" class="nav-link nav-link_hover">로그인</a></li>
                <% } %>
            </ul>
        </nav>
    </header>