<%- include('header') %>
<!-- header.ejs를 모듈로 포함 -->
<main class="login-main">
    <h2 class="login-main_title">짤방 저장소에</h2>
    <p class="login-mainsubtitle">로그인 해서 짤을 올려보세요!</p>

    <section class="login-form">
        <form action="/login" method="POST" class="login-form_container" id="loginForm">
            <label for="email" class="login-form_label">이메일</label>
            <input type="email" id="email" name="email" class="login-form_input" required>

            <label for="password" class="login-form_label">비밀번호</label>
            <input type="password" id="password" name="password" class="login-form_input" required>

            <div class="login-form_actions">
                <button type="submit" class="login-form_button">로그인</button>
                <button type="button" class="login-form_button" id="signupButton">회원가입</button>
            </div>
        </form>
    </section>
</main>

<script src="/scripts/login.js"></script>

</body>

</html>