<%- include('header') %>
<!-- header.ejs를 모듈로 포함 -->
<h1 class="user-list__title">사용자 목록</h1>
<table class="user-list__table">
    <thead class="user-list__thead">
        <tr class="user-list__row" style="pointer-events: none;">
            <th class="user-list__header">이메일</th>
            <th class="user-list__header">비밀번호</th>
            <th class="user-list__header">닉네임</th> 
        </tr>
    </thead>
    <tbody class="user-list__body">
        <% if (users && users.length > 0) { %>
        <!-- users가 존재하는지 확인 -->
        <% users.forEach(user => { %>
        <tr class="user-list__row">
            <td class="user-list__data"><%= user.email %></td>
            <td class="user-list__data"><%= user.password %></td> <!-- 비밀번호 출력 -->
            <td class="user-list__data"><%= user.nickname %></td>
        </tr>
        <% }); %>
        <% } else { %>
        <tr class="user-list__row user-list__row--no-data">
            <td colspan="3" class="user-list__no-data">등록된 사용자가 없습니다.</td> <!-- colspan 수정 -->
        </tr>
        <% } %>
    </tbody>
</table>
<a href="/" class="button button--back">뒤로 가기</a> <!-- 예시 버튼 -->
</body>

</html>